# dependencies
node_modules/

# build
dist/

# environment
.env
.env.local
.env.production

# prisma
prisma/*.db
*.db
*.db-journal

# logs
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
